*{
    box-sizing: border-box;
}
#body{
    background: no-repeat;
    background-size: cover;
    transition: 1s;
}
.container{
    height: 80vh;
    width: 70%;
    background-color: rgba(219, 213, 213, 0.534);
    box-shadow: 5px 10px 8px #888888;
}
.search{
    display: flex;
    justify-content: center;
   align-items: center;
}
#search{
    font-size: 25px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    box-shadow: 2px 2px;
}
#Loading{
    margin-top: 50%;
}
.showweather{
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}
#cityname{
    text-transform: capitalize;
    margin-top: 15px;
}
.showcity{
    padding: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: right;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.temp{
    font-size: 35px;
    font-weight: 600;
    display: inline-block;
}
